#container{
    width: 1000px;
    height: 700px;
    background-image: url(Background.jpg);
    margin: 20px auto;
}
body{
    background-color: lightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.calculator{
    background-color: lightgray;
    width: 400px;
    height: 600px;
    margin: 20px auto;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px #777777;
    
    
    position: relative;
    top: 40px;


}
.result{
    height: 140px;
    width: 390px;
    background-color: #66CDAA;
    border: 3px solid #708090;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    text-align: right;
    margin: 10, 20px;
    font-size: 40px;
    font-weight: bold;
    color: #556B2F;
    
    

}
#keyword{
    height: 500px;
    font-size: 20px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0, 20px;
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #800000
    
    
}
#out-put{
    text-align: right;
    height: 100px;
    margin: 10, 20px;
    font-size: 40px;
    font-weight: bold;
    color: #556B2F;
}
.number,.blank,.operator{
    width: 80px;
    height: 70px;
    margin: 10px;
    float: left;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}
.number:hover{
    background-color:blueviolet ;
    color: whitesmoke;
}
.blank{
    background-color:lightgray ;
    border: none;
}
#zero{
    width: 280px;

}
.number:active{
    background-color: red;
}
#percentage{
    background-color: #FF4500;
}
#divid{
    background-color: #FFD700;
}
#multiply{
    background-color: #20B2AA;
}
#minus{
background-color: #00BFFF;
}
#plus{
background-color: #ADFF2F;
}
#equal{
    background-color: #BDB76B;
}
#percentage:hover{
    background-color: black;
    color: whitesmoke;
}
#percentage:active{
    background-color: green;
    color: honeydew;
}
#divid:hover{
    background-color: black;
    color: whitesmoke;
}
#divid:active{
    background-color: green;
    color: honeydew;
}
#multiply:hover{
    background-color: black;
    color: whitesmoke;
}
#multiply:active{
    background-color: green;
    color: honeydew;
}
#minus:hover{
 background-color: black;
 color: whitesmoke;   
}
#minus:active{
    background-color: green;
    color: honeydew;
}
#plus:hover{
background-color: black;
color: whitesmoke;
}
#plus:active{
    background-color: green;
    color: honeydew;
}
#equal:hover{
    background-color: black;
    color: whitesmoke;
}
#equal:active{
    background-color: green;
    color: honeydew;
}
#clear{
    background-color: red;
    width: 180px;
}
#clear:hover{
    background-color: black;
    color: whitesmoke;
}
#back-space{
    background-color: seagreen;
}
#back-space:hover{
    background-color: black;
    color: whitesmoke;
}
#clear:active{
    background-color: green;
    color: honeydew;
}
#back-space:active{
background-color: green;
color: honeydew;
}